<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<label class="col-lg-3 control-label" for="firstName">First Name</label>
			<div class="col-lg-4">
				<p class="form-control-static">{{firstName}}</p>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="lastName">Last Name</label>
			<div class="col-lg-4">
				<p class="form-control-static">{{lastName}}</p>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="email">Email</label>
			<div class="col-lg-4">	
				<p class="form-control-static">{{email}}</p>
			</div>
		</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
