<!-- <div ng-controller="ArticleListController">
	<div ng-repeat="article in articles">
		<h1><a href="#/articles/{{article.id}}">{{article.title}}</a></h1>
		<p>{{article.content}}</p>
	</div>
</div>
 -->