<td>{{firstName}}</td>
<td>{{lastName}}</td>
<td>{{email}}</td>
<td>
	{{#each phones}}
		{{this}}
	{{/each}}
</td>
<td>
	<a href="#" class="btn btn-default edit">Edit</a>
	<a href="#" class="btn btn-default delete">Delete</a>
</td>